//Text
$text-color: #363636;
$text-color-alternate: #fff;

//Products
$purpose-border: #D7D2CC;
$purpose-border-hover: #E4D9A2;
$button-background: #00AFA9;

//Testimonials
$testimonial-background: #DFFFFD;