{% assign section_title = section.settings.section_title %}
{% assign section_description = section.settings.section_description %}
{% assign section_button_text = section.settings.section_button_text %}
{% assign section_button_url = section.settings.section_button_url %}

<section class="section" id="main-products">
    <div class="main-products">
        {% if section_title != blank %}
            <h2 class="main-products__title title">{{ section_title }}</h2>
        {% endif %}
        {% if section_description %}
            <div class="main-products__subtitle subtitle">{{ section_description }}</div>
        {% endif %}
        <swiper-container class="main-products__list" products-list init="false">
            {% for product in collections.all.products %}
                {% render 'main-vitamin-product', product: product %}
            {% endfor %}
        </swiper-container>
        <div class="swiper-pagination"></div>
    </div>
    {% if section_button_text != blank and section_button_url != blank %}
        <a class="main-products__loader" href="{{ section_button_url }}">
            <span>{{ section_button_text }}</span>
        </a>
    {% endif  %}
</section>
{% schema %}
    {
        "name": "t:sections.main-vitamins.name",
        "tag": "section",
        "class": "section",
        "disabled_on": {
          "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "inline_richtext",
                "id": "section_title",
                "default": "Title",
                "label": "t:sections.main-vitamins.settings.title.label"
            },
            {
                "type": "richtext",
                "id": "section_description",
                "label": "t:sections.main-vitamins.settings.description.label"
            },
            {
                "type": "text",
                "id": "section_button_text",
                "default": "See All Products",
                "label": "t:sections.main-vitamins.settings.section_button_text.label"
            },
            {
                "type": "url",
                "id": "section_button_url",
                "label": "t:sections.main-vitamins.settings.section_button_url.label"
            }
      ],
      "presets": [
        {
          "name": "t:sections.main-vitamins.presets.name"
        }
      ]
  }
{% endschema %}