{% assign section_title = section.settings.section_title %}
{% assign testimonial_blocks = section.blocks %}
{% assign block_size = testimonial_blocks | size %}

<section class="section" id="main-testimonials">
    <div class="main-testimonials">
        {% if section_title != blank %}
            <h2 class="main-testimonials__title title">{{ section_title }}</h2>
        {% endif %}
        {% if block_size > 0 %}
            <swiper-container class="main-testimonials__list" testimonials-list init="false">
                {% for testimonial_block in testimonial_blocks %}
                    {% render 'main-testimonial-item', block: testimonial_block.settings %}
                {% endfor %}
            </swiper-container>
        {% endif %}
        <div class="swiper-pagination"></div>
        <div class="swiper-navigation-prev">{% render 'icon-swiper-green-prev' %}</div>
        <div class="swiper-navigation-next">{% render 'icon-swiper-green-next' %}</div>
    </div>
</section>

{% schema %}
{
  "name": "t:sections.main-testimonials.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "section_title",
      "default": "Title",
      "label": "t:sections.main-testimonials.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "Testimonial",
      "name": "t:sections.main-testimonials.presets.name2",
      "settings": [
        {
          "type": "image_picker",
          "id": "testimonial_photo",
          "label": "t:sections.multirow.blocks.row.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "testimonial_title",
          "default": "Title",
          "label": "t:sections.main-testimonials.settings.title.label"
        },
        {
          "type": "number",
          "id": "testimonial_rating",
          "label": "t:sections.main-testimonials.settings.rating.label"
        },
        {
          "type": "richtext",
          "id": "testimonial_text",
          "label": "t:sections.main-testimonials.settings.text.label"
        },
        {
          "type": "text",
          "id": "testimonial_author",
          "label": "t:sections.main-testimonials.settings.author.label"
        },
        {
          "type": "product",
          "id": "testimonial_product",
          "label": "t:sections.main-testimonials.settings.product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-testimonials.presets.name"
    }
  ]
}
{% endschema %}