{% assign section_title = section.settings.section_title %}
{% assign testimonial_blocks = section.blocks %}
{% assign block_size = testimonial_blocks | size %}

{% if section_title != blank or block_size > 0 %}
  <div class="main-testimonials container" id="main-testimonials">
      <div class="main-testimonials__wrapper">
          {% if section_title != blank %}
              <h2 class="main-testimonials__title title">{{ section_title }}</h2>
          {% endif %}
          {% if block_size > 0 %}
              <swiper-container class="main-testimonials__list" testimonials-list init="false">
                  {% for testimonial_block in testimonial_blocks %}
                      {% assign testimonial_block_settings = testimonial_block.settings %}
                      {% assign testimonial_title = testimonial_block_settings.testimonial_title %}
                      {% assign testimonial_product_title = testimonial_block_settings.testimonial_product.title %}
                      {% if testimonial_title != blank or testimonial_product_title != blank %}
                        {% render 'main-testimonial-item', block: testimonial_block.settings %}
                      {% endif %}
                  {% endfor %}
              </swiper-container>
            <div class="swiper-pagination"></div>
            <div class="swiper-navigation-prev">{% render 'icon-swiper-green-prev' %}</div>
            <div class="swiper-navigation-next">{% render 'icon-swiper-green-next' %}</div>
          {% endif %}
      </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "t:sections.main-testimonials.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "section_title",
      "default": "Title",
      "label": "t:sections.main-testimonials.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "Testimonial",
      "name": "t:sections.main-testimonials.presets.name2",
      "settings": [
        {
          "type": "image_picker",
          "id": "testimonial_photo",
          "label": "t:sections.multirow.blocks.row.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "testimonial_title",
          "default": "Title",
          "label": "t:sections.main-testimonials.settings.title.label"
        },
        {
          "type": "range",
          "id": "testimonial_rating",
          "min": 1,
          "max": 5,
          "default": 5,
          "label": "t:sections.main-testimonials.settings.rating.label"
        },
        {
          "type": "richtext",
          "id": "testimonial_text",
          "label": "t:sections.main-testimonials.settings.text.label"
        },
        {
          "type": "text",
          "id": "testimonial_author",
          "label": "t:sections.main-testimonials.settings.author.label"
        },
        {
          "type": "product",
          "id": "testimonial_product",
          "label": "t:sections.main-testimonials.settings.product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-testimonials.presets.name"
    }
  ]
}
{% endschema %}